*,::after,::before{
    box-sizing: border-box;
  }
  
.center{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(34, 33, 33);
    color:white;
    font-size: small;
  }
  .center a{
    text-decoration: none;
    color:rgb(125, 181, 245);
  }
  .center a:hover{
    color:white;
    font-weight: bold;
  }