*,::after,::before{
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Register */
.register {
    float:right;
    margin-right: 15px;
    top:0;
    right:0;
}
.register a{
    text-decoration: none;
    color:aquamarine;
}
/* Register */
.clear-fix{
    clear:both;
}
/* Section */

section{
     background:#0F0C29;
    background-image: -webkit-linear-gradient(to right,#24243E,#302B63,#0F0C29);
    background-image: linear-gradient(to right,#24243E,#302B63,#0F0C29); 
  
    
    /* background:linear-gradient(180deg, rgb(83, 189, 83), rgb(0, 0, 0)) */ /* ,url("../video&img/samurai-2258604_1920.jpg") */ 
   
    height:394px;
    width:100%;
    background-size: 100% 100%;
    background-blend-mode: lighten;  

   
    
}

#search{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
#searchWrapper{
    height:20px;
    width:50%;
    display: block;
   
    margin-top: 200px;

}
/* .search{
    padding-top:200px;
  display: flex; 
    float:left; 
    align-items: stretch; 
    width:100px;
    border:solid;
    display: block;
    border-style:solid;
} */
.ceneter{
    display:flex;
    flex-direction: row;

}

.search button{

}
input[ type="search"] {
     display: block;
    width:100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: rgb(235, 243, 200);
    background-clip: padding-box;
     border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 

}
.justify-content{
    display: flex;
    justify-content: center;
}
.center{
display: flex;
justify-content: center;
}
/* Section */
/* video
{
     position:fixed;
    z-index:-1;
    width:100%; 
    border:solid red;
} */


.container{
    --bs-gutter-x:200px;
    padding-left: calc(var(--bs-gutter-x)/2);
    padding-right:  calc(var(--bs-gutter-x)/2);
    margin-left: auto;
    margin-right: auto;
    /* padding:0px 0px ; */
}
.navWrap{
    display:flex;
    align-items:center;
    justify-content: center;
}
.navbar{
     display:flex; 
   /*  justify-content: flex-start;  */
    /* align-items: center; */
   /*  background-color: rgb(136, 130, 120);   */
}
.navbar li{
    padding:0px 20px;
    margin: 0px 20px; 
}
.navbar ul{
    margin:0px;
    display:flex; 
    list-style-type:none;
    flex-direction: row;
    width:100%;
    padding: 0px;
    
}
.navbar ul li a:hover{
    background-color: rgb(73, 74, 77);
    color:rgb(245, 241, 224);
   
}
.navbar ul li a{
    display:block;
    text-decoration: none;
    color:rgb(248, 239, 239);
    font-weight: bold;
    font-size: 13px;
    padding:1em 3em ;
    color:rgb(0, 0, 0);
}
nav{
    background-color:rgb(136, 130, 120);
    position: sticky;
   
}
/* MediaQuerry */

@media screen and (max-width:840px){
    nav{
        top:0;
        left:0;
        position:fixed;
    }
    
}


/* MediaQuerry */

